.main_container {
  display: flex;
  height: 100vh;
  padding: 25px;
  flex-direction: column;
}

.header {
  flex: 1;
  background-color: aquamarine;
}

.tv_show_detail {
  flex: 2;
  background-color: green;
}

.recommendations {
  flex: 1;
  background-color: burlywood;
}
